openapi: 3.0.3
info:
  title: Apify Actor Runs Datasets API
  description: 'The Apify REST API (v2) provides programmatic access to the Apify platform, allowing you to manage actors, run scraping tasks, access datasets, key-value stores, and request queues. Rate limits: 250,000 requests/minute globally, 60-400 requests/second per resource.'
  version: v2
  contact:
    name: Apify
    url: https://apify.com
  x-generated-from: documentation
servers:
- url: https://api.apify.com/v2
  description: Apify Production API
security:
- bearerAuth: []
tags:
- name: Datasets
  description: Manage structured data storage from Actor runs.
paths:
  /datasets:
    get:
      operationId: listDatasets
      summary: Apify List Datasets
      description: Returns a list of datasets owned by the user.
      tags:
      - Datasets
      parameters:
      - name: limit
        in: query
        description: Maximum number of results.
        schema:
          type: integer
          default: 10
      - name: offset
        in: query
        description: Number of results to skip.
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of datasets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetList'
              examples:
                ListDatasets200Example:
                  summary: Default listDatasets 200 response
                  x-microcks-default: true
                  value:
                    data:
                      items:
                      - id: s5gkMuSS6Tsh4iOLF
                        name: my-dataset
                        itemCount: 150
                      total: 1
                      offset: 0
                      limit: 10
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /datasets/{datasetId}/items:
    get:
      operationId: getDatasetItems
      summary: Apify Get Dataset Items
      description: Returns items stored in a dataset. Supports multiple output formats.
      tags:
      - Datasets
      parameters:
      - name: datasetId
        in: path
        required: true
        description: Dataset ID.
        schema:
          type: string
      - name: format
        in: query
        description: Output format (json, csv, xml, html, rss, xlsx, jsonl).
        schema:
          type: string
          enum:
          - json
          - csv
          - xml
          - html
          - rss
          - xlsx
          - jsonl
          default: json
      - name: limit
        in: query
        description: Maximum number of items.
        schema:
          type: integer
      - name: offset
        in: query
        description: Number of items to skip.
        schema:
          type: integer
      - name: fields
        in: query
        description: Comma-separated list of fields to include.
        schema:
          type: string
      responses:
        '200':
          description: Dataset items.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                      total:
                        type: integer
              examples:
                GetDatasetItems200Example:
                  summary: Default getDatasetItems 200 response
                  x-microcks-default: true
                  value:
                    data:
                      items:
                      - url: https://example.com
                        title: Example Page
                        price: 29.99
                      total: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    DatasetList:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Dataset'
            total:
              type: integer
            offset:
              type: integer
            limit:
              type: integer
    Dataset:
      type: object
      description: An Apify dataset for storing structured data.
      properties:
        id:
          type: string
          example: s5gkMuSS6Tsh4iOLF
        name:
          type: string
          example: my-dataset
        itemCount:
          type: integer
          description: Number of items in the dataset.
          example: 150
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
  responses:
    Unauthorized:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from Apify console Settings > Integrations.
